@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.newsreader-bd-shop {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav section style */

nav{
    display: flex;
    margin: 40px 100px;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
   
}
nav li a{
    text-decoration: none;
    color: #000000;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.color{
    color: #426B1F;
    font-weight: 400;
    font-size: 32px;
}
.basket{
    background-color: #426B1F;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    color: aliceblue;
}

main{
    margin: 40px 140px;
}
.center{
    font-size: 16px;
    
}